[Unit]
Description=Setup IPv6 neigh proxy for OpenVPN clients

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ovpnneigh

[Install]
WantedBy=multi-user.target
